/*  MODULE: NAV SIDEBAR
//////////////////////////////////////////////////////////////////////////////*/

.module--nav-sidebar {
    font-size: var(--font-size-s);
    font-family: var(--font-family-nav);
    font-weight: 500;
    line-height: 1.2;
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: var(--m);
    }
    a {
        text-decoration: none;
        display: block;
        transform: translateX(0);
        transition: transform 0.3s;
        color: inherit;
        &:hover {
            transform: translateY(-0.15rem);
            transition: transform 0.3s;
        }
    }
    &:hover a {
        opacity: 0.5;
    }
    &:hover a:hover {
        opacity: 1;
    }
    .sub-menu {
        opacity: 0.6;
    }
}

.module--nav-sidebar .menu > li {
    display: none;
}

.module--nav-sidebar .menu {
    .current-menu-item,
    .current-menu-ancestor {
        display: flex;
        flex-wrap: wrap;
        gap: var(--l);
    }
}
