/*  DEFAULTS: FORMS
//////////////////////////////////////////////////////////////////////////////*/

form {
    display: grid;
    gap: var(--gap);
    padding: var(--padding);
    outline: var(--border);
}

input,
button,
textarea,
select {
    font: inherit;
    border: 1px solid;
    padding: 0.5rem;
}
label {
    cursor: pointer;
}
textarea {
    display: block;
    border: var(--border);
    width: 100%;
    overflow: auto;
    resize: vertical;
    padding: var(--s);
}
textarea:focus {
    outline: 1px solid var(--color-black);
    outline-offset: -1px;
}

.wp-element-button,
input[type="submit"] {
}

.wp-element-button:hover,
input[type="submit"]:hover {
}
.wp-element-button:active,
input[type="submit"]:active {
}

button {
}
