/*  DEFAULTS: HEADINGS
//////////////////////////////////////////////////////////////////////////////*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-headings);
    font-family: var(--font-family-display);
}

h1 {
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xxxl);
}
h2 {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    font-weight: bold;
}
h3 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: bold;
}
h4 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
}
h5 {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
}
h6 {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
}

h1:has(+ h2) {
    margin-bottom: 0;
}
h2:has(+ h3) {
    margin-bottom: 0;
}
h3:has(+ h4) {
    margin-bottom: 0;
}
h4:has(+ h5) {
    margin-bottom: 0;
}
h6:has(+ h6) {
    margin-bottom: 0;
}

strong:where(h1, h2, h3, h4, h5, h6) {
    font-weight: 700;
}

.entry-content {
    h1 {
        font-size: var(--font-size-xxl);
        line-height: var(--line-height-xxl);
    }
    h2 {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);
    }
    h3 {
        font-size: var(--font-size-l);
        line-height: var(--line-height-l);
    }
    h4,
    h5,
    h6 {
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
    }
}
