/*  DEFAULTS: LINKS
//////////////////////////////////////////////////////////////////////////////*/

a {
    text-decoration: underline;
    color: inherit;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.1em;
    text-decoration-thickness: 2px;
    transition: all 0.1s;
}

a:link {
}
a:visited {
}
a:hover {
    stext-underline-offset: 0.2em;
    text-decoration-color: transparent;
    transition: all 0.1s;
    color: var(--color-secondary-dark);
}
a:active {
}
