/*  DEFAULTS: LISTS
//////////////////////////////////////////////////////////////////////////////*/

ul {
    list-style: disc;
}

ol,
ul {
    padding-left: 1rem;
}

.article {
    ul,
    ol {
        display: flex;
        flex-direction: column;
        gap: var(--xs);
    }
}

ul ul {
    padding-left: 0;
    list-style: circle;
}

dl {
}

dl dt {
    font-weight: var(--font-weight-bold);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
