/*  MODULE: WIDGETS
//////////////////////////////////////////////////////////////////////////////*/

.module--widgets {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}

.widgets {
    margin: 0;
    padding: 0;
}
