/*  LAYOUT: DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.section {
    display: grid;
    grid-template-columns: 1fr repeat(15, 4rem) 1fr;
    column-gap: var(--m);
    position: relative;
}

/*  HEADER ///////////////////////////////////////////////////////////////////*/

.section--header {
    grid-template-rows: repeat(6, 1.5rem);
    z-index: 3;
    .module--branding {
        grid-column: 3 / 6;
        grid-row: 3/ 5;
    }
    .module--nav-main {
        grid-column: 5 / -5;
        grid-row: 3/ 5;
        margin-left: -1rem;
    }
}

/*  MAIN /////////////////////////////////////////////////////////////////////*/

.section--main {
    position: relative;
    min-height: calc(100vh - 9rem);
    margin-bottom: 9rem;
    z-index: 2;

    .area--content {
        grid-column: 5/-5;
        grid-row: 1;
        display: grid;
        grid-template-rows: min-content;
        padding-block: 3.5rem;
    }
}

/*  FOOTER ///////////////////////////////////////////////////////////////////*/

.section--footer {
    position: fixed;
    height: 9rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-block: var(--l);
    display: grid;
    > .module--meta {
        grid-column: 4 / -4;
        grid-row: 2;
    }
    > .module--widgets {
        grid-column: 4 /-4;
        grid-row: 1;
    }
}
