/*  UTILITIES: SPACING
//////////////////////////////////////////////////////////////////////////////*/

/* MARGINS ///////////////////////////////////////////////////////////////*/

.margin-xs {
    margin: var(--xs);
}
.margin-s {
    margin: var(--s);
}
.margin-m {
    margin: var(--m);
}
.margin-l {
    margin: var(--l);
}
.margin-xl {
    margin: var(--xl);
}

.margin-block-xs {
    margin-block: var(--xs);
}
.margin-block-s {
    margin-block: var(--s);
}
.margin-block-m {
    margin-block: var(--m);
}
.margin-block-l {
    margin-block: var(--l);
}
.margin-block-xl {
    margin-block: var(--xl);
}

.margin-inline-xs {
    margin-inline: var(--xs);
}
.margin-inline-s {
    margin-inline: var(--s);
}
.margin-inline-m {
    margin-inline: var(--m);
}
.margin-inline-l {
    margin-inline: var(--l);
}
.margin-inline-xl {
    margin-inline: var(--xl);
}

.margin-top-xs {
    margin-top: var(--xs);
}
.margin-top-s {
    margin-top: var(--s);
}
.margin-top-m {
    margin-top: var(--m);
}
.margin-top-l {
    margin-top: var(--l);
}
.margin-top-xl {
    margin-top: var(--xl);
}

.margin-right-xs {
    margin-right: var(--xs);
}
.margin-right-s {
    margin-right: var(--s);
}
.margin-right-m {
    margin-right: var(--m);
}
.margin-right-l {
    margin-right: var(--l);
}
.margin-right-xl {
    margin-right: var(--xl);
}

.margin-bottom-xs {
    margin-bottom: var(--xs);
}
.margin-bottom-s {
    margin-bottom: var(--s);
}
.margin-bottom-m {
    margin-bottom: var(--m);
}
.margin-bottom-l {
    margin-bottom: var(--l);
}
.margin-bottom-xl {
    margin-bottom: var(--xl);
}

.margin-left-xs {
    margin-left: var(--xs);
}
.margin-left-s {
    margin-left: var(--s);
}
.margin-left-m {
    margin-left: var(--m);
}
.margin-left-l {
    margin-left: var(--l);
}
.margin-left-xl {
    margin-left: var(--xl);
}

.no-margin {
    margin: 0;
}

/* PADDINGS //////////////////////////////////////////////////////////////*/

.padding-xs {
    padding: var(--xs);
}
.padding-s {
    padding: var(--s);
}
.padding-m {
    padding: var(--m);
}
.padding-l {
    padding: var(--l);
}
.padding-xl {
    padding: var(--xl);
}

.padding-block-xs {
    padding-block: var(--xs);
}
.padding-block-s {
    padding-block: var(--s);
}
.padding-block-m {
    padding-block: var(--m);
}
.padding-block-l {
    padding-block: var(--l);
}
.padding-block-xl {
    padding-block: var(--xl);
}

.padding-inline-xs {
    padding-inline: var(--xs);
}
.padding-inline-s {
    padding-inline: var(--s);
}
.padding-inline-m {
    padding-inline: var(--m);
}
.padding-inline-l {
    padding-inline: var(--l);
}
.padding-inline-xl {
    padding-inline: var(--xl);
}

.padding-top-xs {
    padding-top: var(--xs);
}
.padding-top-s {
    padding-top: var(--s);
}
.padding-top-m {
    padding-top: var(--m);
}
.padding-top-l {
    padding-top: var(--l);
}
.padding-top-xl {
    padding-top: var(--xl);
}

.padding-right-xs {
    padding-right: var(--xs);
}
.padding-right-s {
    padding-right: var(--s);
}
.padding-right-m {
    padding-right: var(--m);
}
.padding-right-l {
    padding-right: var(--l);
}
.padding-right-xl {
    padding-right: var(--xl);
}

.padding-bottom-xs {
    padding-bottom: var(--xs);
}
.padding-bottom-s {
    padding-bottom: var(--s);
}
.padding-bottom-m {
    padding-bottom: var(--m);
}
.padding-bottom-l {
    padding-bottom: var(--l);
}
.padding-bottom-xl {
    padding-bottom: var(--xl);
}

.padding-left-xs {
    padding-left: var(--xs);
}
.padding-left-s {
    padding-left: var(--s);
}
.padding-left-m {
    padding-left: var(--m);
}
.padding-left-l {
    padding-left: var(--l);
}
.padding-left-xl {
    padding-left: var(--xl);
}

.no-padding {
    padding: 0;
}
