/*  SETUP: FONTS ///////////////////////////////////////////////////////////////
//
//  100 = thin / hairline
//  200 = extra light / ultra light
//  300 = light
//  400 = normal / regular
//  500 = medium
//  600 = semi bold / demi bold
//  700 = bold
//  800 = heavy / extra bold
//  900 = black / ultra bold
//
//////////////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: "Space Grotesk";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/space-grotesk/Satoshi-Variable.ttf")
        format("truetype");
}

@font-face {
    font-family: "Satoshi";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/satoshi/Satoshi-Variable.woff2")
        format("woff2-variations");
    src: url("../../fonts/satoshi/Satoshi-Variable.woff2") format("woff2")
        tech("variations");
}

@font-face {
    font-family: "Satoshi";
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
    src: url("../../fonts/satoshi/Satoshi-VariableItalic.woff2")
        format("woff2-variations");
    src: url("../../fonts/satoshi/Satoshi-VariableItalic.woff2") format("woff2")
        tech("variations");
}

@font-face {
    font-family: "Pilcrow Rounded";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/pilcrowRounded/PilcrowRounded-Variable.woff2")
        format("woff2-variations");
    src: url("../../fonts/pilcrowRounded/PilcrowRounded-Variable.woff2")
        format("woff2") tech("variations");
}

@font-face {
    font-family: "Plex Sans";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/plex-sans/IBM-Plex-Sans-Var-Roman.woff2")
        format("woff2-variations");
    src: url("../../fonts/plex-sans/IBM-Plex-Sans-Var-Roman.woff2")
        format("woff2") tech("variations");
}
@font-face {
    font-family: "Plex Sans";
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
    src: url("../../fonts/plex-sans/IBM-Plex-Sans-Var-Italic.woff2")
        format("woff2-variations");
    src: url("../../fonts/plex-sans/IBM-Plex-Sans-Var-Italic.woff2")
        format("woff2") tech("variations");
}
@font-face {
    font-family: "Plex Mono";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf")
        format("truetype");
}

@font-face {
    font-family: "Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "Plex Mono";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf")
        format("truetype");
}
@font-face {
    font-family: "Plex Mono";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Plex Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Bold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Plex Sans Condensed";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-SemiBold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Plex Sans Condensed";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Medium.ttf")
        format("truetype");
}

@font-face {
    font-family: "Plex Sans Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Regular.ttf")
        format("truetype");
}
@font-face {
    font-family: "Plex Sans Condensed";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url("../../fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Light.ttf")
        format("truetype");
}

@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/inter/Inter-var.woff2") format("woff2-variations");
    src: url("../../fonts/inter/Inter-var.woff2") format("woff2")
        tech("variations");
}

@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
    src: url("../../fonts/inter/Inter-italic-var.woff2")
        format("woff2-variations");
    src: url("../../fonts/inter/Inter-italic-var.woff2") format("woff2")
        tech("variations");
}

@font-face {
    font-family: "DM Sans";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
        format("truetype");
}

@font-face {
    font-family: "Kumbh Sans";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "Jost";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/Jost/Jost-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "DIN";
    font-style: normal;
    font-display: block;
    src: url("../../fonts/AlteDIN1451/din1451alt.ttf") format("truetype");
}

@font-face {
    font-family: "D-DIN";
    font-style: normal;
    font-display: block;
    src: url("../../fonts/d-din/D-DIN.otf") format("opentype");
}
@font-face {
    font-family: "D-DIN";
    font-style: italic;
    font-display: block;
    src: url("../../fonts/d-din/D-DIN-Italic.otf") format("opentype");
}
@font-face {
    font-family: "D-DIN";
    font-style: normal;
    font-weight: bold;
    font-display: block;
    src: url("../../fonts/d-din/D-DIN-Bold.otf") format("opentype");
}

@font-face {
    font-family: "bj";
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url("../../fonts/Bai_Jamjuree/BaiJamjuree-ExtraLight.ttf")
        format("truetype");
}

@font-face {
    font-family: "bj";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url("../../fonts/Bai_Jamjuree/BaiJamjuree-Light.ttf")
        format("truetype");
}

@font-face {
    font-family: "bj";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../../fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "bj";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url("../../fonts/Bai_Jamjuree/BaiJamjuree-Medium.ttf")
        format("truetype");
}
@font-face {
    font-family: "bj";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("../../fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf")
        format("truetype");
}

@font-face {
    font-family: "bj";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("../../fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf") format("truetype");
}
