/*  SETUP: FONTS ///////////////////////////////////////////////////////////////
//
//  100 = thin / hairline
//  200 = extra light / ultra light
//  300 = light
//  400 = normal / regular
//  500 = medium
//  600 = semi bold / demi bold
//  700 = bold
//  800 = heavy / extra bold
//  900 = black / ultra bold
//
//////////////////////////////////////////////////////////////////////////////*/

/*  FIRA CODE
//////////////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: "Fira Code";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf") format("truetype");
}

/*  BLOKK
//////////////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: "blokk";
    font-style: normal;
    font-display: block;
    src: url("../../fonts/blokk/BLOKKNeue-Regular.woff2") format("woff2");
}

/*  FIRAVA (Variable version of Fira Sans: https://github.com/hellogreg/firava
//////////////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: "Firava";
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    src: url("../../fonts/Firava/Firava.woff2") format("woff2");
}

@font-face {
    font-family: "Firava";
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
    src: url("../../fonts/Firava/FiravaItalic.woff2") format("woff2");
}

/*  FIRA SANS CONDENSED
//////////////////////////////////////////////////////////////////////////////*/

@font-face {
    font-family: "Fira Sans Condensed";
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url("../../fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans Condensed";
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url("../../fonts/Fira_Sans_Condensed/FiraSansCondensed-Medium.ttf") format("truetype");
}

/*
@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url("../../fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-display: block;
    font-weight: 500;
    src: url("../../fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-display: block;
    font-weight: 700;
    src: url("../../fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
}*/
