:root {
    --font-size-xs: 0.75rem;
    --font-size-s: 0.85rem;
    --font-size-m: 1rem;
    --font-size-l: 1.1rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.625rem;
    --font-size-xxxl: 2rem;
}
