/*  SETUP: VARIABLES
//////////////////////////////////////////////////////////////////////////////*/

:root {
    /* FONT STACKS ///////////////////////////////////////////////////////////*/

    --font-stack-inter: "Inter", sans-serif;
    --font-stack-satoshi: "Satoshi", sans-serif;
    --font-stack-space-grotesk: "Space Grotesk", sans-serif;
    --font-stack-pilcrow-rounded: "Pilcrow Rounded", sans-serif;
    --font-stack-plex-sans: "Plex Sans", sans-serif;
    --font-stack-plex-sans-condensed: "Plex Sans Condensed", sans-serif;
    --font-stack-plex-mono: "Plex Mono", sans-serif;

    --font-family-copy: var(--font-stack-plex-sans);
    --font-family-display: var(--font-stack-plex-sans-condensed);

    /* FONT SIZES ////////////////////////////////////////////////////////////*/

    --font-size-xs: 0.7rem; /*14px*/
    --font-size-s: 0.8rem; /*16px*/
    --font-size-m: 1rem; /*20px*/
    --font-size-l: 1.2rem; /*24px*/
    --font-size-xl: 1.6rem; /*32px*/
    --font-size-xxl: 2rem; /*40px*/
    --font-size-xxxl: 3rem; /*64px*/

    /* LINE HEIGHT ///////////////////////////////////////////////////////////*/

    --line-height-xs: calc(21 / 14);
    --line-height-s: calc(24 / 16);
    --line-height-m: calc(30 / 20);
    --line-height-l: calc(32 / 24);
    --line-height-xl: calc(42 / 32);
    --line-height-xxl: calc(48 / 40);
    --line-height-xxxl: calc(66 / 60);

    --line-height-copy: var(--line-height-m);

    /* FONT WEIGHTS //////////////////////////////////////////////////////////*/

    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-heavy: 800;
    --font-weight-black: 900;

    --font-weight-copy: 400;
    --font-weight-buttons: 700;
    --font-weight-headings: 400;

    /* COLORS ////////////////////////////////////////////////////////////////*/

    --color-text: var(--color-white);

    --color-red: hsl(0 80% 50%);
    --color-orange: hsl(30 80% 50%);
    --color-yellow: hsl(45 100% 55%);
    --color-lime: hsl(60 65% 50%);
    --color-green: hsl(135 55% 50%);
    --color-cyan: hsl(180 80% 45%);
    --color-teal: hsl(195 70% 55%);
    --color-blue: hsl(225 60% 50%);
    --color-indigo: hsl(240 70% 48%);
    --color-purple: hsl(270 80% 50%);
    --color-pink: hsl(330 80% 50%);
    --color-grey: hsl(0 0% 50%);
    --color-white: hsl(0 0% 100%);
    --color-black: hsl(0 0% 0%);

    --color-red-50: color-mix(in oklab, var(--color-red), white 95%);
    --color-red-100: color-mix(in oklab, var(--color-red), white 80%);
    --color-red-200: color-mix(in oklab, var(--color-red), white 60%);
    --color-red-300: color-mix(in oklab, var(--color-red), white 40%);
    --color-red-400: color-mix(in oklab, var(--color-red), white 20%);
    --color-red-500: color-mix(in oklab, var(--color-red), white 00%);
    --color-red-600: color-mix(in oklab, var(--color-red), black 20%);
    --color-red-700: color-mix(in oklab, var(--color-red), black 40%);
    --color-red-800: color-mix(in oklab, var(--color-red), black 60%);
    --color-red-900: color-mix(in oklab, var(--color-red), black 70%);

    --color-orange-50: color-mix(in oklab, var(--color-orange), white 95%);
    --color-orange-100: color-mix(in oklab, var(--color-orange), white 80%);
    --color-orange-200: color-mix(in oklab, var(--color-orange), white 60%);
    --color-orange-300: color-mix(in oklab, var(--color-orange), white 40%);
    --color-orange-400: color-mix(in oklab, var(--color-orange), white 20%);
    --color-orange-500: color-mix(in oklab, var(--color-orange), white 00%);
    --color-orange-600: color-mix(in oklab, var(--color-orange), black 20%);
    --color-orange-700: color-mix(in oklab, var(--color-orange), black 40%);
    --color-orange-800: color-mix(in oklab, var(--color-orange), black 60%);
    --color-orange-900: color-mix(in oklab, var(--color-orange), black 70%);

    --color-yellow-50: color-mix(in oklab, var(--color-yellow), white 95%);
    --color-yellow-100: color-mix(in oklab, var(--color-yellow), white 80%);
    --color-yellow-200: color-mix(in oklab, var(--color-yellow), white 60%);
    --color-yellow-300: color-mix(in oklab, var(--color-yellow), white 40%);
    --color-yellow-400: color-mix(in oklab, var(--color-yellow), white 20%);
    --color-yellow-500: color-mix(in oklab, var(--color-yellow), white 00%);
    --color-yellow-600: color-mix(in oklab, var(--color-yellow), black 20%);
    --color-yellow-700: color-mix(in oklab, var(--color-yellow), black 40%);
    --color-yellow-800: color-mix(in oklab, var(--color-yellow), black 60%);
    --color-yellow-900: color-mix(in oklab, var(--color-yellow), black 70%);

    --color-lime-50: color-mix(in oklab, var(--color-lime), white 95%);
    --color-lime-100: color-mix(in oklab, var(--color-lime), white 80%);
    --color-lime-200: color-mix(in oklab, var(--color-lime), white 60%);
    --color-lime-300: color-mix(in oklab, var(--color-lime), white 40%);
    --color-lime-400: color-mix(in oklab, var(--color-lime), white 20%);
    --color-lime-500: color-mix(in oklab, var(--color-lime), white 00%);
    --color-lime-600: color-mix(in oklab, var(--color-lime), black 20%);
    --color-lime-700: color-mix(in oklab, var(--color-lime), black 40%);
    --color-lime-800: color-mix(in oklab, var(--color-lime), black 60%);
    --color-lime-900: color-mix(in oklab, var(--color-lime), black 70%);

    --color-green-50: color-mix(in oklab, var(--color-green), white 95%);
    --color-green-100: color-mix(in oklab, var(--color-green), white 80%);
    --color-green-200: color-mix(in oklab, var(--color-green), white 60%);
    --color-green-300: color-mix(in oklab, var(--color-green), white 40%);
    --color-green-400: color-mix(in oklab, var(--color-green), white 20%);
    --color-green-500: color-mix(in oklab, var(--color-green), white 00%);
    --color-green-600: color-mix(in oklab, var(--color-green), black 20%);
    --color-green-700: color-mix(in oklab, var(--color-green), black 40%);
    --color-green-800: color-mix(in oklab, var(--color-green), black 60%);
    --color-green-900: color-mix(in oklab, var(--color-green), black 70%);

    --color-cyan-50: color-mix(in oklab, var(--color-cyan), white 95%);
    --color-cyan-100: color-mix(in oklab, var(--color-cyan), white 80%);
    --color-cyan-200: color-mix(in oklab, var(--color-cyan), white 60%);
    --color-cyan-300: color-mix(in oklab, var(--color-cyan), white 40%);
    --color-cyan-400: color-mix(in oklab, var(--color-cyan), white 20%);
    --color-cyan-500: color-mix(in oklab, var(--color-cyan), white 00%);
    --color-cyan-600: color-mix(in oklab, var(--color-cyan), black 20%);
    --color-cyan-700: color-mix(in oklab, var(--color-cyan), black 40%);
    --color-cyan-800: color-mix(in oklab, var(--color-cyan), black 60%);
    --color-cyan-900: color-mix(in oklab, var(--color-cyan), black 70%);

    --color-teal-50: color-mix(in oklab, var(--color-teal), white 95%);
    --color-teal-100: color-mix(in oklab, var(--color-teal), white 80%);
    --color-teal-200: color-mix(in oklab, var(--color-teal), white 60%);
    --color-teal-300: color-mix(in oklab, var(--color-teal), white 40%);
    --color-teal-400: color-mix(in oklab, var(--color-teal), white 20%);
    --color-teal-500: color-mix(in oklab, var(--color-teal), white 00%);
    --color-teal-600: color-mix(in oklab, var(--color-teal), black 20%);
    --color-teal-700: color-mix(in oklab, var(--color-teal), black 40%);
    --color-teal-800: color-mix(in oklab, var(--color-teal), black 60%);
    --color-teal-900: color-mix(in oklab, var(--color-teal), black 70%);

    --color-blue-50: color-mix(in oklab, var(--color-blue), white 95%);
    --color-blue-100: color-mix(in oklab, var(--color-blue), white 80%);
    --color-blue-200: color-mix(in oklab, var(--color-blue), white 60%);
    --color-blue-300: color-mix(in oklab, var(--color-blue), white 40%);
    --color-blue-400: color-mix(in oklab, var(--color-blue), white 20%);
    --color-blue-500: color-mix(in oklab, var(--color-blue), white 00%);
    --color-blue-600: color-mix(in oklab, var(--color-blue), black 20%);
    --color-blue-700: color-mix(in oklab, var(--color-blue), black 40%);
    --color-blue-800: color-mix(in oklab, var(--color-blue), black 60%);
    --color-blue-900: color-mix(in oklab, var(--color-blue), black 70%);

    --color-indigo-50: color-mix(in oklab, var(--color-indigo), white 95%);
    --color-indigo-100: color-mix(in oklab, var(--color-indigo), white 80%);
    --color-indigo-200: color-mix(in oklab, var(--color-indigo), white 60%);
    --color-indigo-300: color-mix(in oklab, var(--color-indigo), white 40%);
    --color-indigo-400: color-mix(in oklab, var(--color-indigo), white 20%);
    --color-indigo-500: color-mix(in oklab, var(--color-indigo), white 00%);
    --color-indigo-600: color-mix(in oklab, var(--color-indigo), black 20%);
    --color-indigo-700: color-mix(in oklab, var(--color-indigo), black 40%);
    --color-indigo-800: color-mix(in oklab, var(--color-indigo), black 60%);
    --color-indigo-900: color-mix(in oklab, var(--color-indigo), black 70%);

    --color-purple-50: color-mix(in oklab, var(--color-purple), white 95%);
    --color-purple-100: color-mix(in oklab, var(--color-purple), white 80%);
    --color-purple-200: color-mix(in oklab, var(--color-purple), white 60%);
    --color-purple-300: color-mix(in oklab, var(--color-purple), white 40%);
    --color-purple-400: color-mix(in oklab, var(--color-purple), white 20%);
    --color-purple-500: color-mix(in oklab, var(--color-purple), white 00%);
    --color-purple-600: color-mix(in oklab, var(--color-purple), black 20%);
    --color-purple-700: color-mix(in oklab, var(--color-purple), black 40%);
    --color-purple-800: color-mix(in oklab, var(--color-purple), black 60%);
    --color-purple-900: color-mix(in oklab, var(--color-purple), black 70%);

    --color-pink-50: color-mix(in oklab, var(--color-pink), white 95%);
    --color-pink-100: color-mix(in oklab, var(--color-pink), white 80%);
    --color-pink-200: color-mix(in oklab, var(--color-pink), white 60%);
    --color-pink-300: color-mix(in oklab, var(--color-pink), white 40%);
    --color-pink-400: color-mix(in oklab, var(--color-pink), white 20%);
    --color-pink-500: color-mix(in oklab, var(--color-pink), white 00%);
    --color-pink-600: color-mix(in oklab, var(--color-pink), black 20%);
    --color-pink-700: color-mix(in oklab, var(--color-pink), black 40%);
    --color-pink-800: color-mix(in oklab, var(--color-pink), black 60%);
    --color-pink-900: color-mix(in oklab, var(--color-pink), black 70%);

    --color-grey-50: color-mix(in oklab, var(--color-grey), white 95%);
    --color-grey-100: color-mix(in oklab, var(--color-grey), white 80%);
    --color-grey-200: color-mix(in oklab, var(--color-grey), white 60%);
    --color-grey-300: color-mix(in oklab, var(--color-grey), white 40%);
    --color-grey-400: color-mix(in oklab, var(--color-grey), white 20%);
    --color-grey-500: color-mix(in oklab, var(--color-grey), white 00%);
    --color-grey-600: color-mix(in oklab, var(--color-grey), black 20%);
    --color-grey-700: color-mix(in oklab, var(--color-grey), black 40%);
    --color-grey-800: color-mix(in oklab, var(--color-grey), black 60%);
    --color-grey-900: color-mix(in oklab, var(--color-grey), black 70%);
    --color-grey-950: color-mix(in oklab, var(--color-grey), black 80%);

    /* BORDERS ///////////////////////////////////////////////////////////////*/

    --border-width: 1px;
    --border-radius: 2px;
    --border-style: solid;
    --border-color: var(--color-black);
    --border: var(--border-width) var(--border-style) var(--border-color);

    /* BOX SHADOWS ///////////////////////////////////////////////////////////*/

    --box-shadow: 0.25rem 0.25rem var(--color-light);

    /* SPACING ///////////////////////////////////////////////////////////////*/

    --xs: 0.25rem;
    --s: 0.5rem;
    --m: 1rem;
    --l: 2rem;
    --xl: 4rem;

    --h1: var(--xl);
    --h2: var(--l);
    --h3: var(--m);
    --h4: 0;
    --h5: 0;
    --h6: 0;

    --col: 4rem;

    --padding: var(--m);
    --gap: var(--m);

    --size-button: 2.5rem;

    /* ICONS /////////////////////////////////////////////////////////////////*/

    --icon-stroke-width: 2;
}
