/*  THEME: CATEGORIE 3
//////////////////////////////////////////////////////////////////////////////*/

body:has(#nav-main .theme--3:hover),
body:has(.theme--3.current-menu-item) {
    --color-neutral: var(--color-grey-200);
    --color-neutral-lighter: var(--color-grey-100);
    --color-neutral-light: var(--color-grey-50);
    --color-neutral-dark: var(--color-grey-900);

    --color-primary: var(--color-lime-500);
    --color-primary-lighter: var(--color-lime-400);
    --color-primary-light: var(--color-lime-50);
    --color-primary-darker: var(--color-lime-600);
    --color-primary-dark: var(--color-lime-900);

    --color-secondary: var(--color-teal-500);
    --color-secondary-lighter: var(--color-teal-400);
    --color-secondary-light: var(--color-teal-50);
    --color-secondary-darker: var(--color-teal-600);
    --color-secondary-dark: var(--color-teal-900);

    --color-text-light: var(--color-neutral-light);
    --color-text-dark: var(--color-neutral-dark);
    --color-text-on-primary: var(--color-primary-light);
    --color-text-on-secondary: var(--color-secondary-light);

    --color-transparent-light: color-mix(in oklab, var(--color-secondary), transparent 60%);
    --color-transparent-dark: color-mix(in oklab, var(--color-secondary-dark), transparent 20%);
}
