/*  BLOCK: BUTTONS
//////////////////////////////////////////////////////////////////////////////*/

.button,
button,
.button,
input[type="submit"],
input[type="button"] {
}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
}
button:active,
.button:active,
input[type="submit"]:active,
input[type="button"]:active {
}

.wp-block-button__link {
    text-decoration: none;
}

.wp-block-button {
}
.wp-block-button:hover {
}

.wp-element-button,
.wp-block-button__link {
    border-radius: var(--border-radius);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: var(--s);
    &:hover {
    }
    &::after {
        content: "→";
        transform: translateX(0);
        transition: all 0.3s;
    }
    &:hover::after {
        transform: translateX(0.25rem) !important;
        transition: all 0.3s;
        font-weight: 700;
    }
    &:active::after {
        transform: translateX(0.5rem) !important;
    }
}

.wp-element-button:hover,
.wp-block-button__link:hover {
}
