/*  BLOCK: BUTTONS
//////////////////////////////////////////////////////////////////////////////*/

.button,
button,
.button,
input[type="submit"],
input[type="button"] {
}
button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
}
button:active,
.button:active,
input[type="submit"]:active,
input[type="button"]:active {
}

.wp-block-button__link {
    text-decoration: none;
}

.wp-block-button {
}
.wp-block-button:hover {
}

.wp-element-button,
.wp-block-button__link {
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    background: radial-gradient(
        ellipse at top left,
        var(--color-primary),
        var(--color-primary-darker)
    );
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: var(--color-text-on-primary);
    font-weight: 500;
    &::after {
        content: "→";
        color: var(--color-primary-dark);
        transform: translateX(0);
    }
    &:hover::after {
        transform: translateX(0.25rem) !important;
    }
    &:active::after {
        transform: translateX(0.5rem) !important;
    }
}

.wp-element-button:hover,
.wp-block-button__link:hover {
}
