/*  BLOCK: DETAILS
//////////////////////////////////////////////////////////////////////////////*/

.wp-block-details {
    overflow: visible;
    & summary {
        display: flex;
        gap: var(--s);
        user-select: none;
        &::after {
            display: block;
            content: "→";
            font-family: var(--font-stack-firava);
            color: var(--color-dark);
            transform: translateX(0);
            transition: transform 0.3s;
        }
        &:hover::after {
            transform: translateX(0.25rem);
            transition: transform 0.3s;
        }
    }
    &[open] summary::before {
        transform: rotate(90deg);
    }
    &[open] {
        flex-basis: 100%;
    }
}
