/*  BLOCK: GROUP
//////////////////////////////////////////////////////////////////////////////*/

.wp-block-group {
    display: grid;
    grid-template-columns: subgrid;
    padding: 0;
    &.alignfull {
        > * {
            grid-column: 5/-2;
        }
    }
    &.has-primary-background-color {
        .wp-element-button,
        .wp-block-button__link {
            background: var(--color-primary-darker);
            &:hover {
                background: var(--color-primary-dark);
                &::after {
                    color: var(--color-text-on-primary);
                }
            }
        }
    }
}
