/*  MODULE: WIDGETS TOP RIGHT MOBILE
//////////////////////////////////////////////////////////////////////////////*/

.widgets-topright {
    width: 100%;
    justify-content: space-between;
    > *:last-child {
        margin-left: auto;
    }
}
