/*  MODULE: NAV FOOTER
//////////////////////////////////////////////////////////////////////////////*/

.module--nav-footer {
}

.nav-footer {
    margin-left: calc(var(--s) * -1);
    a {
        text-decoration: none;
        outline-color: var(--color-grey-200);
        padding: var(--xs) var(--s);
        &:hover {
            outline: 1px solid var(--color-grey-200);
        }
    }
    & .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--xs) var(--s);
    }
}
