/*  MODULE: ARTICLE
//////////////////////////////////////////////////////////////////////////////*/

.hentry {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    gap: 1rem;

    & .entry-header,
    & .entry-content,
    & .entry-footer {
        gap: var(--m);
        > * {
            grid-column: 5 /-5;
        }
        > .alignwide {
            grid-column: 4 /-4;
        }
        > .alignfull {
            grid-column: 2/-2;
        }
    }

    & .entry-header {
    }
    & .entry-content {
    }
}

.entry-title {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    font-weight: 700;
    color: var(--color-secondary-darker);
    position: relative;
    width: fit-content;
}

.entry-content {
}

.entry-footer {
    margin-top: auto;
}

.post-edit-link {
    display: grid;
    place-items: center;
    width: fit-content;
    height: 2rem;
    font-size: var(--font-size-s);
    text-decoration: none;
    padding-inline: var(--m);
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
    background-color: var(--color-transparent-dark);
    color: var(--color-secondary-light);
    font-family: var(--font-stack-plex-sans-condensed);
    font-weight: 500;
    &:hover {
        transition: background-color 0.3s;
        background-color: var(--color-transparent-dark);
    }
}
