/*  MODULE: ARTICLE
//////////////////////////////////////////////////////////////////////////////*/

.hentry {
    display: grid;
    gap: 1rem;
}
.entry-title {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
}

.entry-footer {
    margin-top: auto;
}

.post-edit-link {
    display: grid;
    place-items: center;
    width: fit-content;
    height: 2rem;
    font-size: var(--font-size-s);
    text-decoration: none;
    padding-inline: var(--m);
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: var(--font-stack-plex-sans-condensed);
    font-weight: 500;
    &:hover {
        transition: background-color 0.3s;
        background-color: rgba(255, 255, 255, 0.2);
    }
}
