/*  MODULE: BRANDING
//////////////////////////////////////////////////////////////////////////////*/

.module--branding {
    position: relative;
    background: transparent;
    color: #fff;
    background-color: var(--color-black);
    background-color: var(--color-blue-900);
}

.branding {
    font-weight: 500;

    & * {
        font-weight: inherit;
        color: inherit;
    }
}

.branding__logo {
}
.branding__logo img {
}

.branding__title {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-xl);
    line-height: 2rem;
    .cursor {
        display: none;
    }
}
.branding__title a {
    text-decoration: none;
    &:hover {
        color: var(--color-primary);
    }
}
.branding__title b {
    font-family: var(--font-family-mono);
    font-weight: inherit;
}

.branding__title span {
    animation-duration: 0.3s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: 900;
    color: var(--color-primary);
}

.branding__tagline {
    font-size: var(--font-size-xs);
    color: var(--color-primary);
    spadding-left: 2rem;
}
@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
