.module--nav-sidebar {
    font-size: var(--font-size-s);
    font-family: var(--font-stack-plex-sans-condensed);
    font-weight: 500;
    line-height: 1.5rem;
    a {
        text-decoration: none;
        display: block;
        transform: translateX(0);
        transition: transform 0.3s;
        &:hover {
            transform: translateX(0.25rem);
            transition: transform 0.3s;
        }
    }
    &:hover a {
        opacity: 0.5;
    }
    &:hover a:hover {
        opacity: 1;
    }
    .sub-menu {
        opacity: 0.6;
    }
}
