/*  MODULE: NAV LEFT
//////////////////////////////////////////////////////////////////////////////*/

.module--nav-left {
    font-family: var(--font-stack-plex-sans-condensed);
    font-weight: 500;
}

.nav-left {
    display: grid !important;
    place-items: center stretch;
    height: 2rem;
    & .menu {
        display: flex;
    }
    & .sub-menu {
        display: none;
    }
}
