.module--nav-sidebar {
    font-size: var(--font-size-s);
    font-family: var(--font-family-nav);
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-text-on-primary);
    ul {
        display: flex;
        flex-direction: column;
        gap: var(--s);
    }
    a {
        text-decoration: none;
        display: block;
        transform: translateX(0);
        transition: transform 0.3s;
        color: inherit;
        &:hover {
            transform: translateX(0.25rem);
            transition: transform 0.3s;
        }
    }
    &:hover a {
        opacity: 0.5;
    }
    &:hover a:hover {
        opacity: 1;
    }
    .sub-menu {
        margin-top: var(--s);
        opacity: 0.6;
    }
}
