/*  MODULE: NAV MAIN
//////////////////////////////////////////////////////////////////////////////*/

.module--nav-main {
    font-family: var(--font-family-nav);
    font-weight: 500;
    text-decoration: none;
    color: var(--color-secondary-dark);
}

@media (min-width: 1100px) {
    .nav-main__toggle {
        display: none;
    }
    .nav-main {
        display: block !important;
        margin-left: -1rem;
        & a {
            display: grid;
            place-items: center start;
            grid-template-columns: max-content min-content;
            gap: var(--s);
            width: max-content;
            height: 2rem;
            padding-inline: var(--m);
            text-decoration: inherit;
            color: inherit;
            &::after {
                font-family: var(--font-stack-inter);
                /* color: var(--color-primary); */
                transition: all 0.3s;
                transform: rotate(-45deg);
            }
            &:hover::after {
                transition: all 0.3s;
            }
            &:active::after {
                transition: all 0.1s;

                transform: translateY(0.15rem) !important;
            }
        }
        & ul {
            display: flex;
            justify-content: start;
            position: relative;
        }
        & .menu {
            & > .menu-item {
                flex-shrink: 0;
            }
            & .menu-item-has-children > a::after {
                content: "↓";
            }
            & > .menu-item:hover > a::after,
            & .current-menu-item > a::after,
            & .current-menu-ancestor > a::after {
                transform: rotate(0);
            }
            & .sub-menu {
                position: absolute;
                top: 2rem;
                left: 0;
                opacity: 0;
                pointer-events: none;
                right: 0;
                background: #fff;
                & a {
                    padding-right: 0;
                }
            }
            & li:hover > .sub-menu,
            & .current-menu-item > .sub-menu,
            & .current-menu-ancestor .sub-menu {
                opacity: 1;
                pointer-events: all;
            }
        }
        & .cta {
            margin-left: var(--m);
            z-index: 1;
            position: relative;
        }
    }
}

.nav-main:has(a:hover) a {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.nav-main a:hover,
.nav-main .cta a {
    opacity: 1 !important;
    transition: opacity 0.3s;
}
