/*  MODULE: NAV MAIN
//////////////////////////////////////////////////////////////////////////////*/

.module--nav-main {
    font-family: var(--font-stack-plex-sans-condensed);
    font-weight: 500;
}

.nav-main {
    display: grid;
    place-items: center stretch;
    height: 2rem;
    & .menu {
        display: flex;
        justify-content: center;
        gap: var(--s);
        width: 100%;
        & > .menu-item {
            flex-shrink: 0;
            position: relative;
            & > a {
                display: grid;
                place-items: center;
                padding-inline: var(--m);
                height: 2rem;
                text-decoration: none;
                border-radius: var(--border-radius);
            }
            &:hover > a {
                background-color: var(--color-transparent-light);
            }
        }
        & .current-menu-item,
        & .current-menu-ancestor {
            & > a {
                background-color: var(--color-transparent-light);
            }
        }
        & .menu-item-has-children:has(*:hover) > a {
            &::after {
                content: "";
                position: absolute;
                bottom: -0.5rem;
                left: 0;
                right: 0;
                height: 0.5rem;
                background-color: transparent;
            }
        }
    }
    & .sub-menu {
        position: absolute;
        top: 2.5rem;
        display: none;
        border-radius: var(--border-radius);
        z-index: 1;
        padding-block: var(--s);
        background-color: var(--color-transparent-light);
        backdrop-filter: blur(30px);
        & .menu-item {
            & a {
                text-decoration: none;
                display: block;
                padding-inline: var(--m);
                &:hover {
                    background-color: var(--color-transparent-dark);
                }
            }
        }
    }
    & .current-menu-item {
        & .sub-menu {
            /* background-color: rgb(86, 104, 128); */
        }
    }
    & .menu-item:hover .sub-menu {
        display: block;
    }
}

.nav-main .menu .cta a {
    background: linear-gradient(
        to bottom,
        var(--color-highlight-light),
        var(--color-highlight)
    );
    color: var(--color-highlight-text);
    display: flex;
    gap: var(--s);
    align-items: center;
    padding-inline: var(--m);
    &::after {
        display: block;
        content: "→";
        font-family: var(--font-stack-inter);
        color: var(--color-dark);
        transform: translateX(0);
        transition: transform 0.3s;
    }
    &:hover::after {
        transform: translateX(0.15rem);
        transition: transform 0.3s;
    }
    &:active::after {
        transform: translateX(0.5rem);
        transition: transform 0.1s;
    }
}

.nav-main .menu .search {
    display: none;
    flex-shrink: 1;
    font-size: 0;
    line-height: 0;
    width: 2rem;
    height: 2rem;
    background-image: url("../../images/icons/icon--search.svg");
    background-position: 100%;
    margin-right: 2.5rem;
    margin-left: auto;
    & a {
        display: grid;
        place-items: end;
        padding: 0;
        &:hover {
            background-color: transparent;
        }
    }
}

@media (min-width: 1100px) {
    .nav-main__toggle {
        display: none;
    }
    .nav-main {
        display: grid !important;
    }
}
