/*  MODULE: NAV MAIN
//////////////////////////////////////////////////////////////////////////////*/

.module--nav-main {
}

.nav-main {
    display: grid;
    place-items: center stretch;
    height: 3rem;
}

.nav-main:has(a:hover) {
}
.nav-main:has(a:hover) .current-menu-item a {
}

.nav-main .menu {
    display: flex;
    gap: var(--s);
    font-family: var(--font-stack-plex-sans-condensed);
    font-weight: 500;
    width: 100%;
}

.nav-main .menu .menu-item {
    flex-shrink: 0;
}

.nav-main .menu a {
    display: grid;
    place-items: center;
    height: 2rem;
    text-decoration: none;
    padding-inline: var(--m);
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
    &:hover {
        transition: background-color 0.3s;
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.nav-main .current-menu-item a {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}

.nav-main .menu .cta a {
    background: linear-gradient(
        to bottom,
        var(--color-red),
        var(--color-red-darker)
    );
    display: flex;
    gap: var(--s);
    align-items: center;
    padding-inline: var(--m);
    &::after {
        display: block;
        content: "→";
        font-family: var(--font-stack-inter);
        color: var(--color-dark);
        transform: translateX(0);
        transition: transform 0.3s;
    }
    &:hover::after {
        transform: translateX(0.15rem);
        transition: transform 0.3s;
    }
    &:active::after {
        transform: translateX(0.5rem);
        transition: transform 0.1s;
    }
}

.nav-main .menu .search {
    flex-basis: 100%;
    flex-shrink: 1;
    font-size: 0;
    line-height: 0;
    width: 2rem;
    height: 2rem;
    background-image: url("../../images/icons/icon--search.svg");
    background-position: 100%;
    margin-right: 0.5rem;
    & a {
        display: grid;
        place-items: end;
        padding: 0;
    }
}

.nav-main__toggle {
}

@media (min-width: 1100px) {
    .nav-main__toggle {
        display: none;
    }
    .nav-main {
        display: grid !important;
    }
}
