/*  MODULE: SIDEBAR
//////////////////////////////////////////////////////////////////////////////*/

.module--sidebar {
    font-family: var(--font-stack-plex-sans-condensed);
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}

.sidebar {

}