/*  MODULE: WIDGETS TOPBAR
//////////////////////////////////////////////////////////////////////////////*/

.module--widgets-topbar {
    font-size: var(--font-size-xs);
    line-height: 1.5rem;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-stack-inter);
}
.widgets-topbar {
}
.widget_block {
}

.address {
}
