/*  THEME: PINK
//////////////////////////////////////////////////////////////////////////////*/

body:has(.theme--pink.current-menu-item),
body:has(.theme--pink:hover) {
    --color-neutral: var(--color-grey-200);
    --color-neutral-lighter: var(--color-grey-100);
    --color-neutral-light: var(--color-grey-50);
    --color-neutral-dark: var(--color-grey-900);

    --color-primary: var(--color-pink-500);
    --color-primary-lighter: var(--color-pink-400);
    --color-primary-light: var(--color-pink-50);
    --color-primary-darker: var(--color-pink-600);
    --color-primary-dark: var(--color-pink-900);

    --color-secondary: var(--color-cyan-500);
    --color-secondary-lighter: var(--color-cyan-400);
    --color-secondary-light: var(--color-cyan-50);
    --color-secondary-darker: var(--color-cyan-600);
    --color-secondary-dark: var(--color-cyan-900);

    --color-text-light: var(--color-neutral-light);
    --color-text-dark: var(--color-neutral-dark);
    --color-text-on-primary: var(--color-primary-light);
    --color-text-on-secondary: var(--color-secondary-light);

    --color-transparent-light: color-mix(
        in oklab,
        var(--color-secondary),
        transparent 60%
    );
    --color-transparent-dark: color-mix(
        in oklab,
        var(--color-secondary-dark),
        transparent 20%
    );
}
