/*  MODULE: ARTICLE TABLET
//////////////////////////////////////////////////////////////////////////////*/

.article,
.article__body {
    display: flex;
    flex-direction: column;
    gap: var(--m);
}

.entry-header {
    position: static;
    z-index: 0;
}
