/*  MODULE: ARTICLE 
//////////////////////////////////////////////////////////////////////////////*/

.article {
}

.article__header {
    animation-duration: 0.3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    z-index: 1;
    .article__title {
        font-size: var(--font-size-xxl);
        line-height: var(--line-height-xxl);
        position: relative;
        width: fit-content;
        padding-block: var(--l) var(--m);
    }
}
.article__thumbnail {
    .post-thumbnail {
        img {
        }
    }
}
.article__body {
}
.article__footer {
    margin-top: var(--l);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: 500;
    row-gap: 0 !important;
}
