/*  MODULE: ARTICLE
//////////////////////////////////////////////////////////////////////////////*/

.article {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
}

.entry-header {
    margin-left: calc(var(--border-width) * -1);
    animation-duration: 0.3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    grid-row: 1;
    z-index: 1;
}

.entry-content {
}

.entry-title {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    font-weight: 700;
    color: var(--color-secondary-dark);
    position: relative;
    width: fit-content;
}
@keyframes slidein {
    from {
        transform: translateY(-1em);
    }

    to {
        transform: translateY(0);
    }
}

.entry-meta {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: 500;
}

.entry-content {
}

.entry-footer {
    margin-top: var(--l);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);

    /* font-family: var(--font-stack-plex-sans-condensed); */
    font-weight: 500;
    row-gap: 0 !important;
}

.post-edit-link {
    display: grid;
    place-items: center;
    width: fit-content;
    height: 2rem;
    font-size: var(--font-size-s);
    text-decoration: none;
    padding-inline: var(--m);
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
    background-color: var(--color-transparent-light);
    color: var(--color-secondary-dark);
    font-family: var(--font-stack-plex-sans-condensed);
    font-weight: 500;
    &:hover {
        transition: background-color 0.3s;
        color: var(--color-secondary-light);
        background-color: var(--color-transparent-dark);
    }
}
