.projects {
    padding-right: 5rem;
    > ul {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        > li {
            grid-column: span 1 !important;
        }
        img {
            width: auto;
            max-width: 5rem;
        }
    }
}
