/*  THEME: DEFAULT
//////////////////////////////////////////////////////////////////////////////*/

html:has(.theme--default:hover),
html:has(.theme--default.current-menu-item),
html {
    --color-neutral: var(--color-grey-200);
    --color-neutral-lighter: var(--color-grey-100);
    --color-neutral-light: var(--color-grey-50);
    --color-neutral-dark: var(--color-grey-900);

    --color-primary: var(--color-green-500);
    --color-primary-lighter: var(--color-green-400);
    --color-primary-light: var(--color-green-50);
    --color-primary-darker: var(--color-green-600);
    --color-primary-dark: var(--color-green-900);

    --color-secondary: var(--color-teal-500);
    --color-secondary-lighter: var(--color-teal-400);
    --color-secondary-light: var(--color-teal-50);
    --color-secondary-darker: var(--color-teal-600);
    --color-secondary-dark: var(--color-teal-900);

    --color-text-light: var(--color-neutral-light);
    --color-text-dark: var(--color-neutral-dark);
    --color-text-on-primary: var(--color-primary-light);
    --color-text-on-secondary: var(--color-secondary-dark);

    --color-transparent-light: color-mix(in oklab, var(--color-secondary), transparent 60%);
    --color-transparent-dark: color-mix(in oklab, var(--color-secondary-dark), transparent 20%);
}

/*  HEADER ///////////////////////////////////////////////////////////////////*/

body {
}

.section--header {
    background: var(--color-neutral-light);
    &::before {
        content: "";
        grid-column: 1 /-2;
        grid-row: 1/6;
        background: var(--color-transparent-dark);
        backdrop-filter: grayscale(1);
        z-index: -1;
        backdrop-filter: blur(5px);
    }
    .module--widgets-topbar {
        background-color: var(--color-blue-900);
    }
    .module--branding {
        background-color: var(--color-blue-900);
    }
}

/*  MAIN /////////////////////////////////////////////////////////////////////*/

.section--main {
    background-color: var(--color-white);
    color: var(--color-secondary-dark);
}

.entry-header {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
}
.area--content {
    background: var(--color-neutral-light);
}

/*  FOOTER ///////////////////////////////////////////////////////////////////*/

.section--footer {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    color: var(--color-secondary-dark);
    & * {
        color: inherit;
    }
}
