/*  THEME: DEFAULT
//////////////////////////////////////////////////////////////////////////////*/

body:has(.theme--default.current-menu-item),
body:has(.theme--default:hover),
body {
    --color-neutral: var(--color-grey-200);
    --color-neutral-lighter: var(--color-grey-100);
    --color-neutral-light: var(--color-grey-50);
    --color-neutral-dark: var(--color-grey-900);

    --color-primary: var(--color-red-500);
    --color-primary-lighter: var(--color-red-400);
    --color-primary-light: var(--color-red-50);
    --color-primary-darker: var(--color-red-600);
    --color-primary-dark: var(--color-red-900);

    --color-secondary: var(--color-teal-500);
    --color-secondary-lighter: var(--color-teal-400);
    --color-secondary-light: var(--color-teal-50);
    --color-secondary-darker: var(--color-teal-600);
    --color-secondary-dark: var(--color-teal-900);

    --color-text-light: var(--color-neutral-light);
    --color-text-dark: var(--color-neutral-dark);
    --color-text-on-primary: var(--color-primary-light);
    --color-text-on-secondary: var(--color-secondary-light);

    --color-transparent-light: color-mix(
        in oklab,
        var(--color-secondary),
        transparent 60%
    );
    --color-transparent-dark: color-mix(
        in oklab,
        var(--color-secondary-dark),
        transparent 20%
    );
}

body {
}

.section--header {
    color: var(--color-text-light);
    background: var(--color-transparent-light);
    backdrop-filter: blur(15px);
}

.module--branding {
    background: var(--color-transparent-dark);
}

.section--main {
    background-color: var(--color-white);
}

.section--footer {
    background-color: var(--color-secondary-dark);
    color: var(--color-text-on-secondary);
    & * {
        color: inherit;
    }
    &::before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        background: linear-gradient(
            to bottom,
            var(--color-transparent-dark),
            transparent
        );
    }
}
