/*//////////////////////////////////////////////////////////////////////////////
//	BMNNIT
//  Author: Korbinian Polk (korbinianpolk.eu)
//////////////////////////////////////////////////////////////////////////////*/

/*/ /////////////////////////////////////////////////////////////////////////////
//	SETUP
//////////////////////////////////////////////////////////////////////////////*/

@import "0_setup/variables.css";
@import "0_setup/reset.css";
@import "0_setup/fonts.css";
@import "0_setup/typography.css";

/*//////////////////////////////////////////////////////////////////////////////
//	ELEMENTS
//////////////////////////////////////////////////////////////////////////////*/

@import "1_elements/links.css";
@import "1_elements/headings.css";
@import "1_elements/quotes.css";
@import "1_elements/lists.css";
@import "1_elements/media.css";
@import "1_elements/forms.css";
@import "1_elements/tables.css";

/*/ ////////////////////////////////////////////////////////////////////////////
//	BLOCKS
//////////////////////////////////////////////////////////////////////////////*/

@import "2_blocks/details.css";
@import "2_blocks/image.css";

/*//////////////////////////////////////////////////////////////////////////////
//	MODULES
//////////////////////////////////////////////////////////////////////////////*/

@import "3_modules/branding.css";
@import "3_modules/nav-left.css";
@import "3_modules/nav-main.css";
@import "3_modules/sidebar.css";
@import "3_modules/widgets.css";
@import "3_modules/article.css";
@import "3_modules/intro.css";
@import "3_modules/searchbar.css";
@import "3_modules/services.css";
@import "3_modules/meta.css";

/*/ /////////////////////////////////////////////////////////////////////////////
//	LAYOUT
//////////////////////////////////////////////////////////////////////////////*/

@import url("4_layout/layout--global.css");
@import url("4_layout/mobile/layout--mobile.css") (width <= 640px);
@import url("4_layout/tablet/layout--tablet.css") (640px <= width <= 1100px);
@import url("4_layout/desktop/layout--desktop.css") (width >= 1100px);

/*//////////////////////////////////////////////////////////////////////////////
//	THEMES
//////////////////////////////////////////////////////////////////////////////*/

@import "5_themes/default.css";
@import "5_themes/red.css";
@import "5_themes/orange.css";
@import "5_themes/yellow.css";
@import "5_themes/lime.css";
@import "5_themes/green.css";
@import "5_themes/cyan.css";
@import "5_themes/teal.css";
@import "5_themes/blue.css";
@import "5_themes/indigo.css";
@import "5_themes/purple.css";
@import "5_themes/pink.css";
@import "5_themes/grey.css";

/*//////////////////////////////////////////////////////////////////////////////
//	UTILITIES
//////////////////////////////////////////////////////////////////////////////*/

@import "6_utilities/typography.css";
@import "6_utilities/layout.css";
@import "6_utilities/spacing.css";
@import "6_utilities/colors.css";
@import "6_utilities/forms.css";
@import "6_utilities/wordpress.css";
@import "6_utilities/images.css";

/*//////////////////////////////////////////////////////////////////////////////
//	VENDOR
//////////////////////////////////////////////////////////////////////////////*/

@import "7_vendor/slick.css";

/*/ /////////////////////////////////////////////////////////////////////////////
//	OVERWRITES
//////////////////////////////////////////////////////////////////////////////*/

/* html {
    margin-top: 0 !important;
}

#wpadminbar {
    opacity: 0;
    &:hover {
        opacity: 1;
    }
} */

.logged-in .section--header {
    top: 32px;
}

.section--footer {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}
