/*  MODULE: WIDGETS TOPBAR
//////////////////////////////////////////////////////////////////////////////*/

.module--widgets-topbar {
    font-size: var(--font-size-xs);

    font-weight: 500;
    font-family: var(--font-family-copy);

    color: #fff;
}
.widgets-topbar {
}
.widget_block {
}

.address {
}
